{:up   ["CREATE TABLE messages (id INTEGER PRIMARY KEY, message TEXT, description TEXT, sender TEXT)"
        "INSERT INTO messages (message, description, sender) VALUES ('hi', 'a greeting', 'jeremy')"]
 :down ["DROP TABLE messages"]}
